body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

#topo {
  text-align: center;
  padding: 10px;
  background: #1e293b;
}

.tela {
  padding: 15px;
}

.hidden {
  display: none;
}

/* BANNERS */
.banner {
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
}

/* CORES */
.azul { background: linear-gradient(135deg,#3b82f6,#06b6d4); }
.verde { background: linear-gradient(135deg,#22c55e,#4ade80); }
.roxo { background: linear-gradient(135deg,#9333ea,#c084fc); }
.laranja { background: linear-gradient(135deg,#f97316,#fb923c); }

/* MAPA */
#mapa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fase-btn {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background: gold;
}

/* JOGO */
.game-card {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 20px;
  max-width: 300px;
  margin: auto;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
}
